html, body{
	background-image:url("/Resources/fujiWallpaper.jpg");
	background-size: cover;
	color: #B3B4B3;
	background-attachment: fixed;
	font-family: 'Fira Sans', sans-serif;
	height: 100%;
	width: 100vw;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
}
p{
	padding-top: 10px;
}
hr{
	color: #B3B4B3;
	width: 50%;
}
#form{
	display: block;
	text-align: center;

}
h1{
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	font-size: 2vw;
}
input {
  	-webkit-appearance: none; 
  	appearance: none;
  	font-family: 'Fira Sans', sans-serif;
	background-color: #00000090;
	backdrop-filter: blur(3px);
	color: #B3B4B3;
	border-color: #00000090;
	border-width: 0px;
	width: 50%;
	padding: 7px;
	align-content: center;
	text-align: center;
	justify-content: center;
	
}
.wrapper{
	width: 100%;
	margin: auto;
	align-content: center;
}
.box{
	width: 230px;
	height: 448px;
	float: left;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(10px);
	margin: 2vw;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	
}
ul{
	padding-top: 10px;
	list-style-type: none;
	padding-left: 0;
	font-family: 'Fira Sans', sans-serif;
}
a{
	text-decoration: none;
	color: #B3B4B3;
	font-family: 'Fira Sans', sans-serif;
}
li{
	padding-bottom: 1vh;
	padding-top: 1vh;
	font-size: 1.05vw;
	-webkit-transition: 250ms;
	transition: 250ms;
}
li:hover{
	background-color: rgba(179,180,179,0.5);
	color: #0D0C0E;
}
