body{
	background-image:url("/Resources/fujiWallpaper.jpg");
	background-size: cover;
	color: #B3B4B3;
	background-attachment: fixed;
}
#form{
	display: block;
	text-align: center;
}
h1{
	text-align: center;
}
input {
  -webkit-appearance: none; 
  appearance: none;
}
.wrapper{
	width: 100%;
	margin: auto;
	align-content: center;
}
.box{
	width: 15%;
	height: 702px;
	float: left;
	padding: 0.5%;
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(10px);
	margin: 2%;
	
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #B3B4B3
}
